/* resume */

.resume {
  padding-top: 20px;
}

.resume-card__heading,
.reume-language__heading {
  font-size: 1.6rem;
  font-weight: 700;
  color: #354538;
}

.resume-card__body {
  margin-top: 10px;
}

.resume-card__title {
  font-weight: 700;
}

.resume-card__name {
  font-size: 16px;
}

.resume-card__details {
  font-size: 0.9rem;
  padding-top: 5px;
}
