/* skill card */

.skill-card {
  background-color: #fff;
  margin: 30px 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.skill-card__icon {
  width: 40px;
  height: 40px;
}

.skill-card__body {
  margin-left: 15px;
}

.skill-card__content {
  margin: 0;
  font-size: 0.9rem;
  color: #642b73;
}
